*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}
.navbar-container{
  max-width: 1280px;
  margin: 0 auto;
}
nav{
  padding: 0 30px;
  font-size: 26px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  list-style-type: none;
  display: flex;
  align-items: center;

}
.nav-links a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.nav-links a:hover {
  color: rgb(77, 77, 177);
  transition: all 0.5s ease;
  cursor: pointer;
}
